<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="../static/css/Layout.css" rel="stylesheet" th:href="@{/css/Layout.css}"/>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/>

    <title>Atualização de meu cadastro</title>
</head>

<body>
<header th:insert="~{fragments/header::header-signout}"></header>

<main>
    <section class="fa-section-default">

        <!-- Container -->
        <div class="container">

            <!-- div row -->
            <div class="row">
                <div class="container-fluid">
                    <a name="procedimentoAtualizacao"></a>
                    <hr></hr>
                    <br></br>
                    <h2>Atualizaçao de cadastro</h2>
                    <p>
                        Visando mais segurança e integridade dos dados dos seus clientes, a
                        Foz Advogados mudou os procedimentos quanto a atualização cadastral.
                        Agora, as atualizações cadastrais só podem ser feitas mediante o envio de documentos
                        comprobatórios.
                        Por favor, envie-nos cópia:<br/>
                    <ul>
                        <li>Cópia do holerite</li>
                        <li>Cópia do RG, CPF (ou CNH)</li>
                        <li>Cópia do comprovantes de residência</li>
                        <li>Ficha Cadastral para impressão&ensp;<a class="btn btn-primary" href="ficha-cadastral.pdf"
                                                                   target="_blank">Abrir</a></a></li>
                    </ul>
                    </p>
                    <p> Imprima a ficha, preencha e nos envie por correio ou e-mail.</p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span>&ensp;&ensp;<a
                            href="mailto:fichacadastral@fozadvogados.com.br">fichacadastral@fozadvogados.com.br</a>
                        <br/>
                        <span class="glyphicon glyphicon-map-marker"></span>&ensp;&ensp;<a href="https://goo.gl/maps/QH9ykf77G972"
                                                                                           target="_blank">Rua
                        Senador Paulo Egídio, 72, 6º andar - Conj. 601,Centro, São Paulo - SP - 01006-904</a>

                    </p>
                    <p>Assim que recebermos seus documentos, temos um prazo de 5 dias para atualização.</p>

                </div>
                <br/>
                <br/>
                <div class="container">
                    <div class="row">
                        <div class='alert alert-info' role='alert'>

                            <p>Ainda não recebeu o e-mail com o código de validação?
                                <a href="/confirmarcodigoacesso" th:href="@{/confirmarcodigoacesso}">clique aqui.</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of container -->
        </div>
    </section>
</main>
<footer th:insert="~{fragments/footer::footer-signout}">
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

</body>
</html>