<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <title>Informações</title>
</head>

<body>



<header th:insert="~{fragments/header::header-signin}">
</header>
<main>
    <section class="fa-section-default">
        <div class="container">
            <h4 class="text-center"> Informações</h4>
            <hr />

            <div class="panel2" >

                <div class="container-fluid panel2-info">
                    <div class="panel">
                        <div class="panel2-title">
                            <h4>AVISO – SOLICITAÇÃO DE DOCUMENTOS PARA "MALHA FINA" DA RECEITA FEDERAL</h4>
                        </div>
                        <div class="panel-body">
                            <p> Prezado(a) cliente,</p>
                            <p> Caso você tenha caído na “Malha Fina” da Receita Federal e precise prestar esclarecimentos junto ao Fisco Nacional,
                                é imprescindível que nos envie cópia do requerimento por e-mail (fozadvogados@fozadvogados.com.br) ou Correios.</p>
                            <p>Acerca de documentos requeridos pela Receita Federal, na maioria dos casos temos de extrair cópias de tais documentos
                                dos autos do processo, que por sua vez nem sempre está disponível
                                para tal providência. Sendo assim, é possível que haja demora no atendimento ao seu pedido.<p/>
                            <p>Importante destacar que, geralmente, a Receita Federal requer documentos que não existem nas ações movidas contra a
                                Administração Pública como, por exemplo, guias GARE e DARF, cálculo atualizado do valor recebido pelo credor etc.<p/>
                            <p>Entendemos a urgência nestes casos. Neste sentido, tão logo consigamos reunir toda a documentação exigida,
                                transmitiremos ao seu e-mail.<p/>
                        </div>
                    </div>
                </div>
                <hr>



            </div>

        </div>
    </section>
</main>
<footer th:insert="~{fragments/footer::footer-signin}">
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>