<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="../static/css/Layout.css" rel="stylesheet" th:href="@{/css/Layout.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <title>Meu perfil</title>
</head>

<body>


<header th:insert="~{fragments/header::header-signin}">
</header>
<main>
    <section class="fa-section-default">
        <div class="container">
            <div class="panel">

                <div class="container-fluid panel-info">

                        <div class="row form-group">
                            <div class="form-group col-lg-5">
                                <h3>Dados de cadastro </h3>
                                <label><b>Nome:</b></label><br/>
                                <label><b>Endereço eletrônico:</b> </label><br/>
                                <label><b>Cadastro: </b> dd/MM/yyyy </label>
                                <hr/>
                            </div>
                        </div>

                        <form action="/AreaRestrita/AltSenha.do" class=" row form-group" id="form" method="post"
                              name="form" novalidate="novalidate">
                            <div class="form-group col-lg-5">
                                <div class="">
                                    <h3> Alterar senha</h3>
                                    <label>Nova Senha:</label>
                                    <span class="fa-form-contact">
                                            <input aria-invalid="false" class="form-control " id="form-senha" name="form-senha"
                                                   placeholder="Senha" size="40" type="password"
                                                   value="">
                                            <div id="progress">
                                                <div></div>
                                            </div><br/>
                                        </span> <br/>
                                    <label>Confirmar Nova Senha:</label>
                                    <span class="fa-form-contact">
                                            <input aria-invalid="false" class="form-control " id="form-senha-confirme" name="form-senha-confirme"
                                                   placeholder="Senha" size="40" type="password"
                                                   value="">
                                        </span>
                                </div>
                                <button class="btn btn-primary" id="operacao" name="operacao" type="submit"
                                        value="ALTERAR"><span>Enviar</span></button>
                            </div>
                        </form>
                </div>
            </div>

        </div>
    </section>
</main>
<footer th:insert="~{fragments/footer::footer-signin}">
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>