<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <title>Poder Judiciário</title>
</head>

<body>



<header th:insert="~{fragments/header::header-signin}">
</header>
<main>
    <section class="fa-section-default">
        <div class="container">
            <br/>
            <h4 align="center"> O PODER JUDICIÁRIO E SUAS INSTÂNCIAS</h4>
            <hr />
            <div class="s13 texto">
                O <strong>Poder Judiciário</strong> é o Poder da União que tem por competência processar e julgar os conflitos de interesses,
                com base nas Leis e princípios que regem a Sociedade Brasileira.
                <br />
                <br />
            </div>
            <div align="center">
                <img alt=""
                     class="img-responsive" src="static/images/instancias.gif" th:src="@{/images/instancias.gif}">
                </div>
            <div class="s13 texto">
                Obs.: <strong>INSTÂNCIA</strong> representa o grau de hierarquia do Poder Judiciário.<br/>
                É composto pelos seguintes órgãos: <br/>
                É na Primeira Instância onde começam as ações judiciais, geralmente. É composta pelos Juízes de Direito, Juízes Federais –
                Varas Cíveis e Criminais, Juízes do Trabalho – Varas Trabalhistas, Juízes Eleitorais – Juntas Eleitorais, Juízes Militares.<br/>

                É na Segunda Instância onde são julgados os recursos para revisão de sentença de 1º Grau de ambas as partes
                (polo passivo e polo ativo da demanda judicial). É composta pelos Tribunais de Justiça dos Estados e de Alçadas,
                Tribunais Regionais Federais, Tribunais Regionais do Trabalho, Tribunais Regionais Eleitorais e Tribunais Militares, composto por
                Câmara ou Turmas, em Grupos de Desembargadores, cuja competência pode possibilitar
                decisões isoladas de alguns de seus integrantes.<br/>

                É na Instância Superior onde são julgados os recursos apresentados contra decisões dos
                Tribunais de Segunda Instância (ou de 2º Grau). É composta pelos Tribunais Superiores:<br/>

                Supremo Tribunal Federal, composto por 11 Ministros, com competência para julgar
                matéria constitucional, é o <strong>Guardião da Constituição Federal</strong>.<br/>

                Superior Tribunal de Justiça, composto, no mínimo, por 33 ministros, com competência para julgar:<br/>

                I – originariamente:<br/>

                a) crimes comuns – pessoas públicas;<br/>
                b) mandado de segurança e habeas data contra atos de Ministros;<br/>
                c) habeas corpus – quando o co-autor ou paciente for pessoa pública;<br/>
                d) conflitos de competência entre quaisquer tribunais;<br/>
                e) revisões criminais e ações rescisórias de seus julgados;<br/>
                f) reclamação para preservação de sua competência;<br/>
                g) conflitos de atribuições entre autoridades administrativas e judiciárias;<br/>
                h) mandato de injunção;<br/>

                <br/>
                II – recurso ordinário;<br/>
                <br/>
                III – recurso especial;<br/>
                <br/>
                Tribunal Superior do Trabalho é a Instância Superior da Justiça do Trabalho, composta por 17 Juízes,
                com a denominação de Ministros, funcionando na plenitude de sua competência ou dividido em Turmas,
                com observância da paridade de representação de empregados e empregadores.
                A competência de suas Turmas é julgar:<br/>
                <br/>
                a) em única instância, os conflitos de jurisdição entre os tribunais regionais;<br/>
                b) em última instância, os recursos de revista, nos casos previstos em lei;<br/>
                c) os agravos de instrumentos dos despachos que denegarem a interposição de recursos ordinários ou de revista;<br/>
                d) embargos de declaração opostos a seus acórdãos;<br/>
                e) as habilitações incidentes e arguições de falsidade, suspeição e outras, nos casos pendentes de sua decisão.<br/>

                <br />
            </div>

        </div>
    </section>
</main>
<footer th:insert="~{fragments/footer::footer-signin}">
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>