<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="../static/css/Layout.css" rel="stylesheet" th:href="@{/css/Layout.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <title>Confirmação de Dados cadastrais</title>
</head>

<body>


<header th:insert="~{fragments/header::header-signin}">
</header>
<main>
    <section class="fa-section-default">
        <div class="container">
            <div class="container">

                <!-- div row -->
                <div class="row">
                    <h2 align="center">Confirmação de Dados cadastrais</h2>

                    <!-- Formulario -->
                    <form action="##" class="wpcf7-form form form-contact" id="form" method="post"
                          name="form" novalidate="novalidate">

                        <!-- Dados para correspondencia -->
                        <div class="container">
                            <label> Dados para comunicacao</label>
                            <!-- Dados de email -->
                            <div class="container">
                                <div class="row">
                                    <div class="alert alert-info " role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="alert-heading"> <strong>Importante!</strong></h4>
                                        <p>Preencha com e-mail ativo e de seu acesso, pois é por meio deste que finalizaremos o cadastro.</p>
                                        <p class="mb-0">E enviaremos posteriores comunicados sobre os andamentos de seus processos</p>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="col-sm-6 control-label">Endereço eletrônico</label>
                                        <div class="col-md-12">
                                            <input name="form-email"  type="email" size="40" class="form-control-form" required=""
                                                   id="form-email" aria-invalid="true" placeholder="seuemail@email.com"
                                                   type="email" style="text-transform:lowercase" value=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Dados de email -->

                        </div>

                        <br/>

                        <div class="container">
                            <button class="btn btn-danger alignright" id="operacao" name="operacao" type="submit"
                                    value="SALVAR"><span>Enviar</span></button>
                        </div>
                        <br/>
                    </form>
                    <!-- Fim Formulario -->
                </div>

                <div><p>A Foz Advogados em nenhum momento guarda os dados de seus clientes em sites ou divulga as informações utilizadas nesta área do cliente.
                    Os dados são utilizados apenas e exclusivamente para verificar e garantir que somente a pessoa detentora e responsável
                    pela informação acesse-a, mantendo o sigilo das informações. </p></div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="~{fragments/footer::footer-signin}">
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="https://rawgit.com/mplatt/fold-to-ascii/eae6030cc155a59fe7859666b4fb45171c67a17f/fold-to-ascii.js"></script>
<script type="text/javascript">
            $(document).ready(function () {
                window.scrollTo(0, 10);

                $("#form-cpf").mask("000.000.000-00", {placeholder: "___.___.___-__"}, {reverse: true});
                $("#form-dt-nasc").mask("00/00/0000", {placeholder: "__/__/____"}, {reverse: false});
                $("#form-cep").mask("00000-000", {placeholder: "_____-___"}, {reverse: true});
                $("#form-tel-celular").mask("+00(00) 00000-0000", {placeholder: "+__(__) _____-____"}, {reverse: false});
                $("#form-tel-comercial").mask("+00(00) 0000-0000", {placeholder: "+__(__) ____-____"}, {reverse: false});
                $("#form-tel-residencial").mask("+00(00) 0000-0000", {placeholder: "+__(__) ____-____"}, {reverse: false});
                $("#form-rg").mask('00.000.000-X', {translation: {'X': {pattern: /[x-xX-X0-9]/, '#': ''}}});
                $("#form-end-num").mask("000000", {reverse: false});
                $(":input").keyup(function () {
                    this.addEventListener("input", function (event) {
                        event.target.value = foldToASCII(event.target.value).toUpperCase();
                    });
                });
                $("#form").validate({
                    errorElement: "em",
                    errorPlacement: function (error, element) {
                        // Add the `help-block` class to the error element
                        error.addClass("help-block");
                        // Add `has-feedback` class to the parent div.form-group
                        // in order to add icons to inputs
                        element.parents(".col-md-12").addClass("has-feedback");
                        if (element.prop("type") === "checkbox") {
                            error.insertAfter(element.parent("label"));
                        } else {
                            error.insertAfter(element);
                        }

                        // Add the span element, if doesn't exists, and apply the icon classes to it.
                        if (!element.next("span")[ 0 ]) {
                            $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                        }
                    },
                    success: function (label, element) {
                        // Add the span element, if doesn't exists, and apply the icon classes to it.
                        if (!$(element).next("span")[ 0 ]) {
                            $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                        }
                    },
                    highlight: function (element, errorClass, validClass) {
                        $(element).parents(".col-md-12").addClass("has-error").removeClass("has-success");
                        $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
                    },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).parents(".col-md-12").addClass("has-success").removeClass("has-error");
                        $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
                    }
                });
                $("#form-cpf").blur(function () {
                    var elementoCpf = document.getElementById('form-cpf');
                    var cpf = elementoCpf.value;
                    if (!verificarCPF(cpf)) {
                        $(elementoCpf).parents(".col-md-12").addClass("has-feedback");
                        $(elementoCpf).parents(".col-md-12").addClass("has-error").removeClass("has-success");
                        $(elementoCpf).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
                        $('#MsgDanger').show(0).delay(8000).hide(800);
                        $(elementoCpf).setText("");
                    }
                    ;
                });
                // validador CPF
                function verificarCPF(c) {
                    if ((c = c.replace(/[^\d]/g, "")).length != 11) {
                        return false;
                    }

                    if (c == "00000000000") {
                        return false;
                    }

                    var r;
                    var s = 0;
                    for (i = 1; i <= 9; i++) {
                        s = s + parseInt(c[i - 1]) * (11 - i);
                    }

                    r = (s * 10) % 11;
                    if ((r == 10) || (r == 11)) {
                        r = 0;
                    }

                    if (r != parseInt(c[9])) {
                        return false;
                    }

                    s = 0;
                    for (i = 1; i <= 10; i++) {
                        s = s + parseInt(c[i - 1]) * (12 - i);
                    }

                    r = (s * 10) % 11;
                    if ((r == 10) || (r == 11)) {
                        r = 0;
                    }

                    if (r != parseInt(c[10])) {
                        return false;
                    }

                    return true;
                }
                ;

            });
                                                                    </script>
</body>
