<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <title>Termos Juridicos</title>
</head>

<body>



<header th:insert="~{fragments/header::header-signin}">
</header>
<main>
    <section class="fa-section-default">
        <div class="container">
            <br />
            <br />
            <section class="">
                <h4 class="text-center"> Termos Juridicos</h4>
                <hr />
                <br />
                <div class="s13 texto"><b>Conheça a seguir o significado dos principais termos jurídicos utilizados:</b><br/>
                    <br/>
                    <b>Acórdão:</b> É o julgamento proferido pelos tribunais (órgãos colegiados : - câmara, turma, seção, órgão especial, plenário, etc.). Conteúdo > “O acórdão
                    nada mais é do que um simples extrato do julgamento, sendo a representação resumida da conclusão a que se chegou, não abrangendo toda a extensão e discussão
                    em que se pautou o julgado, mas tão-somente os principais pontos da discussão”<br/>
                    <br/>
                    <b>Apelação:</b> O recurso interposto junto ao próprio Juiz da causa, visando uma nova decisão. Após analisar os requisitos de validade do recurso interposto, o 			Juiz determinará a remessa dos autos ao Tribunal competente para o reexame do pedido.<br/>
                    <br/>
                    <b>Coisa julgada:</b> Ocorre a coisa julgada quando uma decisão se torna definitiva, não mais sujeita a recurso ordinário ou extraordinário. É a condição da
                    Sentença proferida que a torna imutável em face da preclusão (decurso do prazo para interpor recurso ou o seu não cabimento).<br/>
                    <br/>
                    <b>Contestação:</b> Resposta do Réu ao pedido formulado pelo Autor na petição Inicial. É o meio de defesa, com razões fundamentadas, que o Réu se socorre
                    para negar a pretensão do Autor e rebater a ação.<br/>
                    <br/>
                    <b>Embargos de Declaração:</b> Pedido de esclarecimento de um determinado ponto da decisão que tenha ficado contraditório, duvidoso, omisso ou obscuro.<br/>
                    <br/>
                    <b>Embargos de Divergência:</b> Os Embargos de Divergência são apresentados contra a decisão de uma turma do Supremo Tribunal Federal – STF ou Superior
                    Tribunal de Justiça - STJ, quando esta for divergente da decisão de uma outra turma ou do plenário.<br/>
                    <br/>
                    <b>Embargos Infringentes:</b> É o recurso cabível quando não for unânime o julgamento proferido em apelação e em ação rescisória. Para o cabimento do
                    recurso, basta que haja divergência de pelo menos um dos julgadores, em relação aos demais. Sendo parcial o desacordo, os embargos serão restritos à
                    matéria objeto da divergência.<br/>
                    <br/>
                    <b>Execução de Sentença:</b> Quando a decisão é definitiva, não havendo mais recurso a apresentar, inicia-se a
                    Execução da Sentença, que consiste em dar cumprimento ao decidido pelo Juiz, aplicando-se o direito concedido na ação. O processo de execução, nas ações
                    contra a Fazenda Pública, é dividido em várias fases. A primeira é a citação para os fins do artigo 632 do Código de Processo Civil, chamada de “Obrigação
                    de Fazer”, onde é oficiado ao Procurador do Estado para proceder o aposlitamento dos títulos dos autores e a anotação em seus prontuários do direito
                    concedido na ação, para, quando for o caso, inclusão no hollerith. Após o apostilamento é oficiado ao Departamento de Despesa de Pessoal, para informar a
                    importância devida a cada autor, mês a mês, com base nos vencimentos dos 5 anos anteriores à propositura da ação, para possibilitar a elaboração da Conta
                    de Liquidação pelo advogado e a requisição da verba através de Ofício Requisitório, dirigido ao Presidente do Tribunal de Justiça (chamado de Precatório
                    Judicial), que processará o ofício e requisitará a verba junto a autoridade administrativa.<br/>
                    <br/>
                    <b>Extinção do processo:</b> É o ato pelo qual se extingue um processo com ou sem julgamento do mérito. Ocorre a extinção sem julgamento do mérito,
                    quando o pedido inicial não é apreciado em razão de formalidades não cumpridas. A extinção com julgamento do mérito ocorre quando é apreciado o pedido
                    inicial e cumprido o decidido pelo Juiz. Nas questões que envolvem pagamento de numerário, a extinção do processo ocorre com a quitação integral do
                    débito.<br/>
                    <br/>
                    <b>Intervenção Federal:</b> É uma medida excepcional e temporária que afasta a autonomia dos Estados, Distrito Federal e Municípios nos casos
                    estabelecidos pelo artigo 34 da Constituição Federal, destacando-se no campo do Direito, o não cumprimento das decisões judiciais e oposição a cumprir a 				própria lei.<br/>
                    <br/>
                    <b>Julgo improcedente:</b> O pedido feito na ação judicial foi negado. O direito pleiteado não foi reconhecido pelo orgão julgador (1ª, 2ª ou 3ª
                    Instância).<br/>
                    <br/>
                    <b>Julgo procedente:</b> O pedido feito na ação judicial foi aceito. O direito pleiteado foi reconhecido pelo orgão julgador (1ª, 2ª ou 3ª Instância). <br/>
                    <br/>
                    <b>Litispendência:</b> Ocorre a Litispendência quando o interessado ingressa com a mesma ação judicial duas vezes. Configurada a litispendência a ação
                    proposta posteriormente é paralisada e o Juiz condena o autor ao pagamento dos honorários do Procurador da parte contrária.<br/>
                    <br/>
                    <b>Prescrição:</b> É a perda do direito de ingressar com ação judicial pelo decurso do prazo. Ocorre a prescrição quando um direito não é colocado em
                    prática no prazo determinado por lei. As ações contra a Fazenda Pública prescrevem em 5 anos a contar do ato ou fato que deu origem ao direito. Assim,
                    se uma vantagem deveria ter sido paga em 2000 e até 2003 não se concretizou, o prazo para ingressar com a ação é até 2005.<br/>
                    <br/>
                    <b>Recurso:</b> É o poder de vontade, juridicamente regulado, conferido à parte vencida para solicitar nova decisão, em regra, a órgão de hierarquia
                    superior (Instância Superior).<br/>
                    <br/>
                    <b>Recurso Especial:</b> O Recurso Especial é apresentado ao Superior Tribunal de Justiça – STJ contra decisões de outros tribunais, ou em última
                    instância, quando houver ofensa a leis federais.<br/>
                    <br/>
                    <b>Recurso Extraordinário:</b> O Recurso Extraordinário é apresentado ao Supremo Tribunal Federal – STF contra decisões de outros tribunais, em última
                    instância, quando houver ofensa a Constituição Federal.<br/>
                    <br/>
                    <b>Sentença:</b> É o ato pelo qual o juiz competente finaliza um processo, decidindo ou não o mérito da causa – processo de conhecimento – 1ª Instância. <br/>
                    <br/>
                    <b>Sucumbência:</b> É o princípio pelo qual a parte vencida em uma ação judicial (parte que perdeu) é condenada a pagar os honorários do advogado da
                    parte contrária, bem como as despesas antecipadas. No funcionalismo público, quando um servidor ganha uma ação judicial, a Entidade Pública é obrigada a 				pagar as despesas antecipadas e os honorários advocatícios, que são fixados pelo Juiz. Esses honorários, conhecidos por “honorários da sucumbência”, são 				automaticamente destinados ao advogado do servidor, independente dos honorários previamente contratados. No entanto, quando o servidor perde uma ação
                    judicial, ele é condenado a pagar os honorários do Procurador da Entidade, cujo desconto é efetuado diretamente em seu hollerith, não podendo
                    ultrapassar a décima parte de seus vencimentos. Neste caso, o advogado que o defendeu nada recebe, é o que chamamos de “contrato de risco”. </div>
                <br />
                <br />
                <br />
                <br />



        </div>
    </section>
</main>
<footer th:insert="~{fragments/footer::footer-signin}">
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>