<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
    <body>
        <!--/*  Multiple fragments may be defined in one file */-->
        <div th:align="center" th:fragment="footer-signout">
            &copy; My Awesome App footer</span>
        </div>

        <div th:align="center" th:fragment="footer-signin">
            &copy; My Awesome App footer signin</span>
        </div>
    </body>
</html>
